.custom-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 6px;
  border: 2px solid var(--primary);

  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.46px;
  color: #ffffff;
  padding: 16px;
  cursor: pointer;
  white-space: nowrap;

  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    background-color: #ffffff;
    color: var(--primary);
  }

  &.secondary {
    background-color: #ffffff;
    color: var(--primary);

    &:hover {
      background-color: var(--primary);
      color: #ffffff;
    }
  }

  &.gray {
    border: 2px solid #171e1d;
    background-color: #ffffff;
    color: #171e1d;

    &:hover {
      background-color: #171e1d;
      color: #ffffff;
    }
  }

  &:disabled,
  &:disabled:hover {
    background-color: #9ca3af;
    color: #e5e7eb;
    cursor: not-allowed;
    border: 2px solid #9ca3af;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      animation: loader 1s ease-in-out infinite;
    }
  }
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
