.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #FFFFFF;
    border: 1px solid #E8ECF2;

    .container-wrapper{

        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            list-style: none;

            a{
                text-decoration: none;
                font-family: "Archivo";
                font-weight: 400;
                font-size: 14px;
                color: #000000;
            }
        }

    }

}