.counter-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  label {
    color: #000000d9;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  input {
    display: none;
  }

  .counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 8px;

    p {
      color: #000000d9;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      padding: 0 8px;
    }

    svg {
      color: #0000008f;
      width: 24px;
      height: 24px;
      padding: 4px;
      cursor: pointer;

      &.disabled{
        cursor: not-allowed;
      }
    }
  }
}
