@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  max-width: 100vw;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Archivo, Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}


.container-wrapper{
  width: 100%;
  max-width: 1340px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}