@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #171E1D;
  --primary: #FF8D28;
}

html{
  max-width: 100vw;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo);
  max-width: 100vw;
  overflow-x: hidden;
}


.container-wrapper{
  width: 100%;
  max-width: 1340px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}