.guest-options {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  position: relative;

  .container {
    padding: 16px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;

    p {
      color: #000000d9;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    svg {
      color: #0000008f;
      width: 24px;
      height: 24px;
    }
  }

  .options {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: #ffffff;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.1);
    border: 0.7px solid #e8ecf2;

    padding: 40px 20px;

    &.active {
      top: 58px;
      opacity: 1;
      z-index: 999;
    }
  }
}
