.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .upper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #F4F4F4;

        .container-wrapper{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 50px;
            padding-top: 20px;

            .list, ul{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
                list-style: none;

                p{
                    font-family: "Archivo";
                    font-weight: 600;
                    font-size: 20px;
                    color: var(--dark);
                }

                a{
                    font-family: "Archivo";
                    color: var(--dark);
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
    }

    .lower{
        width: 100%;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        p{
            font-size: 14px;
            font-weight: 300;
            line-height: 120%;
            color: #000000;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 12px;
                font-weight: 300;
                color: #000000;
                line-height: 120%;
            }
        }
    }
}