.property-item-wrapper.recommended-item {
  .like-button-wrapper {
    left: 140px;
  }

  .property-item {
    flex-direction: row;

    .image-container {
      max-width: 180px;
      height: 130px;
      img {
        height: 100%;
        border-radius: 10px 0 0 10px;
      }
    }

    .item-contents{
        .upper{
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    }
  }
}
