.property-item-wrapper.recommended-item {
  .like-button-wrapper {
    max-width: 43%;
  }
  .property-item {
    flex-direction: row;

    .image-container {
      max-width: 180px;
      aspect-ratio: 180/130;
    }

    .item-contents {
      .upper {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    .like-button-wrapper {
      max-width: 100%;
    }
    .property-item {
      flex-direction: column;

      .image-container {
        aspect-ratio: 315 / 300;
        max-width: 100%;
      }

      .item-contents {
        .upper {
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
        }
      }
    }
  }
}
