.login {
  width: 100%;
  min-height: calc(100vh - 115px);
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 50px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;

    h1 {
      font-size: 26px;
      font-weight: 700;
      color: var(--dark);
      letter-spacing: 2%;
      width: 100%;
      text-align: left;
    }

    .inner-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 36px;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .input-lists {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        .button-wrapper{
            width: 100%;
            max-width: 200px;
        }
      }

      .other-options{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 2%;
            color: var(--dark);
        }

        .lists{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 14px;

            .item{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 18px;
                padding: 25px 10px;
                background-color: #F8F8F8;
                border-radius: 8px;

                p{
                    letter-spacing: 0.24px;
                    line-height: 100%;
                    color: #787878;
                }
            }
        }
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ececec;
      }

      .link{
        font-family: var(--font-roboto);
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0;
        color: #576074;

        a{
            text-decoration: none;
            color: var(--primary);
        }
      }
    }
  }
}
