.property-booking-details {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  border: 1px solid #e8ecf2;
  border-radius: 7px;
  padding: 37px 28px;

  @media screen and (max-width: 1250px){
    max-width: 100%;

    .custom-button{
      max-width: 500px;
    }
  }

  .detail-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;

    .upper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 17px;

      .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .name-loc-like {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;

          .name-loc {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            p {
              font-size: 29px;
              letter-spacing: 2%;
              line-height: 100%;
              font-weight: 600;
              color: #171e1d;
            }

            span {
              font-size: 16px;
              letter-spacing: 2%;
              line-height: 100%;
              font-weight: 400;
              color: #171e1d;
            }
          }

          .like-button-wrapper {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
          }
        }

        .ratings-reviwes {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 6px;

          .ratings {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            p {
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 2%;
              font-weight: 600;
              color: #171E1D;
            }

            svg {
              width: 16.03px;
              height: 16.03px;
              color: #fac50a;
            }
          }

          a {
            text-decoration: underline;
            color: var(--primary);
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 2%;
            font-weight: 400;
          }
        }
      }

      .description {
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 2%;
        font-weight: 400;
        color: #171E1D;
        min-height: 104px;
      }
    }

    .lower{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .price{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            p{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 4px;

                font-size: 36px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 2%;
                color: #171E1D;

                span{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 2%;
                }

                &.best-time-to-book{
                    gap: 6px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 2%;
                    align-items: center;

                    color: var(--primary);

                    span{
                        width: 20.57px;
                        height: 18.05px;
                        border: 1.5px solid var(--primary);
                        border-radius: 4px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg{
                            padding: 1px;
                        }
                    }
                }
            }
        }
    }
  }

  .host-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title{
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 2%;
        font-weight: 400;
        color: #787878;
    }

    .profile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding-top: 8px;
        border-top: 0.7px solid #E8ECF2;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            .image{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #E8ECF2;

                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                svg{
                    width: 30px;
                    height: 30px;
                    color: #0000008f;
                }
            }

            .user-details{
                display: flex;
                flex-direction: column;
                gap: 2px;

                p{
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 2%;
                    font-weight: 600;
                    color: #171E1D;
                }

                span{
                    color: #7A7A7A;
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: 400;
                    letter-spacing: 2%;
                }
            }
        }

        .super-host-tag{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 8px 11px;
            background-color: #FFEEDF;

            color: var(--primary);
            border-radius: 17px;

            font-size: 16px;
            font-weight: 500;
            letter-spacing: -1%;
            line-height: 100%;
        }

    }


  }
}
