.property-map {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1250px){
    max-width: 100%;
  }

  .upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 2%;
        font-weight: 600;
        color: #171e1d;
      }

      span {
        display: flex;
        align-items: center;
        gap: 6px;

        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
        color: #171e1d;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        width: 47px;
        height: 47px;

        position: relative;

        svg {
          width: 47px;
          height: 28.2px;
          color: #f4f4f4;
          position: absolute;
          top: 12.22px;
          left: 0.25px;

          z-index: 2;
        }

        span {
          display: block;
          width: 21.15px;
          height: 21.15px;
          border-radius: 50%;
          background-color: #fac50a;

          position: absolute;
          top: 7.35px;
          right: 2.25px;
          z-index: 1;
        }
      }

      .temp {
        display: flex;
        flex-direction: column;
        gap: 2px;

        p {
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 2%;
          font-weight: 600;
          color: #171e1d;
        }

        span {
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 2%;
          font-weight: 400;
          color: #7a7a7a;
        }
      }
    }
  }

  .map-container {
    width: 100%;
    height: 248px;
    border-radius: 8px;
    overflow: hidden;
  }
}
