.suggestion-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  border-radius: 4px;

  position: relative;

  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;

    input {
      width: 100%;
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 16px 12px 18px;

      font-size: 14px;
      line-height: 160%;
      font-weight: 400;
      font-family: var(--font-roboto);
    }
  }

  .suggestions {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.1);
    border: 0.7px solid #e8ecf2;

    &.active {
      top: 58px;
      opacity: 1;
      z-index: 999;

      p {
        cursor: pointer;
      }
    }
    p {
      padding: 8px 12px;
      font-size: 14px;
      line-height: 160%;
      font-weight: 400;
      font-family: var(--font-roboto);
      &.active,
      &:hover {
        background-color: #ededed;
      }
      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
