.date-input {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;

  label {
    color: #000000d9;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  svg {
    color: #0000008f;
    width: 24px;
    height: 24px;
  }

  input {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0.01;
    z-index: 2;
    cursor: pointer;
  }
}
