.input-wrapper {
  width: 100%;
  padding-bottom: 15px;
  position: relative;

  .custom-input-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 52px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding-right: 12px;
    background-color: #ffffff;

    input {
      width: 100%;
      height: 100%;
      padding: 17.5px 0px 17.5px 12px;
      outline: none;
      border: none;

      font-size: 16px;
      font-weight: 400;
      color: #787878;
      letter-spacing: 0.24px;
      border-radius: 4px 0 0 4px;
    }

    label {
      position: absolute;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: #787878;
      letter-spacing: 0.24px;
      background-color: #ffffff;
      left: 12px;
      top: 17.5px;

      padding: 0 6px;
      transition: all 0.3s ease-in-out;
    }

    input:focus + label,
    input.active + label,
    input:not(:placeholder-shown) + label {
      top: -8px;
      left: 6px;
    }

    svg {
      color: #787878;
      width: 20px;
      height: 20px;

      &.cursor {
        cursor: pointer;
      }
    }
  }

  .input-validation-errors {
    position: absolute;
    bottom: -2px;

    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 12px;
    line-height: 12px;
    font-weight: 400;

    color: #EF4444;
  }
}
