.property-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 812px;

  .main-image-display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .image-slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 8px;

    max-width: 100%;
    overflow-x: hidden;

    .slide {
      width: 160px;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      background-color: #ffffff;
      cursor: pointer;

      flex-shrink: 0;

      transition: all 0.2s ease-in-out;

      img {
        width: 100%;
        height: 100%;
      }

      &.active {
        background-color: var(--primary);
      }
    }
  }

  @media screen and (max-width: 1250px){
    max-width: 100%;
  }
}
