.recommended-stays{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .headings{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        p{
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 2%;
            font-weight: 600;
            color: #171E1D;
        }

        a{
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.46px;
            font-weight: 600;
            color: var(--primary);
            text-decoration: none;
        }
    }

    .stays-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}