.filter-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background-color: #FFFFFF;
    border: 0.7px solid #E8ECF2;
    border-radius: 10px;
    padding: 12px;
    
    .smaller-inputs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .button-wrapper{
        width: 100%;
        max-width: 157px;
    }

}