.global-alert{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 9999;

    background-color: #D1FAE5;
    color: #065F46;

    padding: 16px 24px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

    p{
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
    }

    &.active{
        transform: translate(-50%, 0%);
    }

    &.error{
        background-color: #FEE2E2;
        color: #EF4444;
    }

    &.warning{
        background-color: #FEF3C7;
        color: #92400E;
    }

    &.info{
        background-color: #DBEAFE;
        color: #1E40AF;
    }
}