.amenities{
    width: 100%;
    max-width: 821px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title{
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 2%;
        font-weight: 600;
        color: #171E1D;
    }

    .amenities-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .amenities-list{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 18px;
            column-gap: 4px;

            p{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0;
                font-weight: 400;
                color: #171E1D;

                svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .button-wrapper{
            width: 100%;
            max-width: 185px;
        }
    }
}