.property-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    .container-wrapper{
        display: flex;
        flex-direction: column;
        gap: 44px;

        .property-flex-box{
            display: flex;
            justify-content: space-between;
            gap: 28px;

            @media screen and (max-width: 1250px){
                flex-direction: column;
            }
        }

        .property-flex-column-box{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}