.home-contents {
  width: 100%;
  min-height: calc(100vh - 350px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 20px 24px;

  .container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .filter-display {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      p {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 2%;
        font-weight: 400;
        color: #000000;

        span {
          font-weight: 600;
        }
      }

      .filter-options {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 0.7px solid #e8ecf2;
        border-radius: 9px;

        svg {
          width: 36px;
          height: 36px;
          background-color: #ffffff;
          padding: 8px;
          border-radius: 6px;
          color: #000000;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &.active {
            background-color: var(--primary);
            color: #ffffff;
          }
        }
      }
    }

    .list-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      gap: 20px;
    }

    .button-wrapper {
      width: 100%;
      max-width: 147px;
    }
  }
}
